<%- include('part/header')%>


<body class="mentor">
    <div class="main-box">
        <div class="left-box">
            <h1>Login Details</h1>

            <div class="details">
                
                <h2>Name :- <%=data.name%> </h2>
                <h2>Email:- <%=data.email%></h2>
                <h2>phone:- <%=data.phone%></h2>
                <h2>Post :- <%=data.post%></h2>
            </div>


            <div class="links">
                <button><a href="/logout">Logout</a></button>
                <button><a href="/">My Account</a></button>
                <button><a href="/myteam">My Team Mates</a></button>
                <button><a href="/">Extra </a></button>
                <button><a href="/">Extra </a></button>

            </div>
        </div>
        <div class="middle-box">
          
            <div class="input">
                <form action="/assignself?user=mentor" method="post">
                    <input type="text" placeholder="Todo" name="todo">
                <!-- <textarea name="" id="" cols="10" rows="5" > -->
                <button type="submit">Submit</button>
                </form>
            </div>
            <div class="space">
                <div class="mytodo">
                    <h1>MY TODO</h1>

                <% var count=0; %> 
                <% mytodo.reverse().forEach(function(item){ %>

                    <% if(item.status==false){%>
                        <p id=<%=count%> style="color: red;"><%=item.text%>
                   
                   <a href="/deletetodo?uid=<%=data._id%>&tid=<%=item.postId%>&user=mentor">..DELETE..</a>
                </p>
                   
                        <% }%> 
                    <% if(item.status==true){%>
                        <p id=<%=count%> style="color: green;  text-decoration: line-through;"><%=item.text%>
                        
                            <a href="/deletetodo?uid=<%=data._id%>&tid=<%=item.postId%>&user=mentor">..UNDO..</a>
                        </p>   
                        <% }%> 
                        
                        <% count++ %> 
                <% }) %> 

                </div>

            </div>
        </div>
        <div class="right-box">
            <div class="assing-input">
                <form action="/assignteam?from=mentor" method="post" >
                    <input type="text" placeholder="Enter the mate name" name="username">
                    <input type="text" placeholder="Enter the task" name="todo">
                    <button type="submit">Assign</button>
                </form>
            </div>
            
            <%if(ack=='err') { %>
                <p>something went wrong</p>
            <%}%> 
            <%if(ack=='nf') { %>
                <p>username not found</p>
            <%}%> 
            <%if(ack=='sucess') { %>
                <p>ASSIGNED SUCESSFULLY</p>
            <%}%> 
            
          
            
        </div>
    </div>
</body>

<%- include('part/footer')%>
