<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/nav.css">
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/myaccount.css">
    <title>Document</title>
</head>

<body class="mentor">
    <nav class="navbar">
        <div class="brand-tatal">Tracking System</div>
        <a href="#" class="toggle-btn">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar-links">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="/myteam">My Team Mates</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>

    </nav>
    <div>
        <div class="myinfo_container">
            <img src="https://img.freepik.com/free-vector/follow-me-social-business-theme-design_24877-50426.jpg?w=740&t=st=1669137013~exp=1669137613~hmac=0b4a88a66f29cdccba5efbdf43d64a73c2d4a626df9dbabae0460c61125ec92d"
                alt="" width="438px" height="438px">
            <table>
                <tr>
                    <td>
                        <h3>Name</h3>
                    </td>
                    <td><h3>:</h3></td>
                    <td>
                        <h3>
                            <%=data.name %>
                        </h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>Username</h3>
                    </td>
                    <td><h3>:</h3></td>
                    <td>
                        <h3>
                            <%=data.username %>
                        </h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>E-mail</h3>
                    </td>
                    <td><h3>:</h3></td>
                    <td>
                        <h3>
                            <%=data.email %>
                        </h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>Mobile</h3>
                    </td>
                    <td><h3>:</h3></td>
                    <td>
                        <h3>
                            <%=data.phone %>
                        </h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>Post</h3>
                    </td>
                    <td><h3>:</h3></td>
                    <td>
                        <h3>
                            <%=data.post %>
                        </h3>
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <script>
        const togglebtn = document.getElementsByClassName("toggle-btn")[0];
        const nav = document.getElementsByClassName("navbar-links")[0];

        togglebtn.addEventListener("click", () => {
            nav.classList.toggle("active")
        })
    </script>
</body>

<%- include('part/footer')%>