<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <title>Document</title>
</head>

<body class="mentor">
    <nav class="navbar">
        <div class="brand-tatal">Tracking System</div>
        <a href="#" class="toggle-btn">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar-links">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="/myteam">My Team Mates</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>

    </nav>
 <div>

<p><%=data.name %></p>
<p><%=data.username %></p>
<p><%=data.email %></p>
<p><%=data.phone %></p>
<p><%=data.post %></p>

    </div>
    <script>
        const togglebtn = document.getElementsByClassName("toggle-btn")[0];
        const nav = document.getElementsByClassName("navbar-links")[0];

        togglebtn.addEventListener("click", () => {
            nav.classList.toggle("active")
        })
    </script>
</body>

<%- include('part/footer')%>