<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/team.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

    <title>Document</title>
</head>

<body class="mentor">
    <nav class="navbar">
        <div class="brand-tatal">Tracking System</div>
        <a href="#" class="toggle-btn">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar-links">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="/myteam">My Team Mates</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>

    <div class="main-box">
        <div class="flexe">
            <div class="middle-box">
                <div class="input">
                    <center>
                        <h3>ENTER TEAM MEMBER USERNAME TO ADD / refresh its data</h3>

                        <%if(ack1=='sucess') { %>
                            <p id="success">SUCCESSFULLY</p>
                            <%}%>
                                <%if(ack1=='err') { %>
                                    <p>something went wrong</p>
                                    <%}%>
                                        <%if(ack1=='nf') { %>
                                            <p id="error">username not found</p>
                                            <%}%>
                    </center>
                    
                    <form action="/addteam?user=myteam" method="post">
                        <input type="text" placeholder="add team member" name="username">
                        <button type="submit">Submit</button>
                    </form>
                </div>
                <div class="space">
                    <div class="assignedtod">
                        <% var count1=0; %>
                            <% team.reverse().forEach(function(item){ %>
                                <div class="teambox">
                                    <div class="member-name">
                                        <h3 style="color: red;">
                                            @ <%= item.username %>
                                                <a href="/deleteteam?uid=<%=data._id%>&tid=<%=item._id%>&user=myteam"><i
                                                        class="bi bi-trash"></i></a>
                                        </h3>
                                    </div>
                                    <div class="member-todo">
                                        <% item.assignedtodo.reverse().forEach(function(todo){ %>
                                            <p style="color: rgb(255, 255, 255);">
                                                <%= todo.text %>
                                            </p>
                                            <% }) %>
                                    </div>
                                </div>
                                <% count1++ %>
                                    <% }) %>
                    </div>
                </div>
            </div>

            <div class="right-box">
                <div class="asin-task">
                    <h1>ASSIGN TASK</h1>

                    <div class="assing-input">
                        <form action="/assignteam?from=myteam" method="post">
                            <input type="text" placeholder="Enter the mate name" name="username">
                            <input type="text" placeholder="Enter the task" name="todo" required>
                            <button type="submit">Assign</button>
                        </form>
                    </div>
                    <div class="ack">
                        <%if(ack=='err') { %>
                            <p id="wrong">something went wrong</p>
                            <%}%>
                                <%if(ack=='nf') { %>
                                    <p id="error">username not found</p>
                                    <%}%>
                                        <%if(ack=='sucess') { %>
                                            <p id="success">ASSIGNED</p>
                                            <%}%>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const togglebtn = document.getElementsByClassName("toggle-btn")[0];
        const nav = document.getElementsByClassName("navbar-links")[0];

        togglebtn.addEventListener("click", () => {
            nav.classList.toggle("active")
        })
    </script>
</body>

<%- include('part/footer')%>