<%- include('part/header')%>


<body>
    <div class="main-box">
        <div class="left-box">
            <h1>Login Details</h1>
            <div class="details">
                <h2>Name :- <%=data.name%> </h2>
                <h2>Email:- <%=data.email%></h2>
                <h2>phone:- <%=data.phone%></h2>
                <h2>Post :- <%=data.post%></h2>
            </div>
            <div class="links">
                <button><a href="/logout">Logout</a></button>
                <button><a href="/">My Account</a></button>
                <button><a href="/">Extra </a></button>
                <button><a href="/">Extra </a></button>

            </div>
        </div>
        <div class="middle-box">
            <!--             
            <div class="card">
                <div class="user-name"><h1>Sourabh</h1></div>
                <div class="task"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, voluptatibus in molestias voluptatum quia voluptas laborum fuga temporibus obcaecati consectetur explicabo, velit, quam aliquam qui odio vitae! Cumque, vitae neque?</p></div>
            </div>
            <div class="card">
                <div class="user-name"><h1>Sourabh</h1></div>
                <div class="task"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, quam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, voluptatibus in molestias voluptatum quia voluptas laborum fuga temporibus obcaecati consectetur explicabo, velit, quam aliquam qui odio vitae! Cumque, vitae neque?</p></div>
            </div> -->


            <div class="input">
                <form action="/assignself?user=user" method="post">
                    <input type="text" placeholder="Todo" name="todo">
                <!-- <textarea name="" id="" cols="10" rows="5" > -->
                <button type="submit">Submit</button>
            </div>
            <div class="space">
                <div class="mytodo">
                    <h1>MY TODO</h1>
                    <% var count=0; %> 
                    <% mytodo.reverse().forEach(function(item){ %>
    
                        <% if(item.status==false){%>
                            <p id=<%=count%> style="color: red;"><%=item.text%>
                       
                       <a href="/deletetodo?uid=<%=data._id%>&tid=<%=item.postId%>&user=user">..DELETE..</a>
                    </p>
                       
                            <% }%> 
                        <% if(item.status==true){%>
                            <p id=<%=count%> style="color: green;  text-decoration: line-through;"><%=item.text%>
                            
                                <a href="/deletetodo?uid=<%=data._id%>&tid=<%=item.postId%>&user=user">..UNDO..</a>
                            </p>   
                            <% }%> 
                            
                            <% count++ %> 
                    <% }) %> 
    

                </div>

                <div class="assignedtod">
                    <h1>Assigned TODO</h1>
                    <% var count1=0; %> 
                <% assignedtodo.reverse().forEach(function(item){ %>

                    <% if(item.status==false){%>
                        <p id=<%=count1%> style="color: red;"><%=item.text%>
                   
                   <a href="/deleteassign?uid=<%=data._id%>&tid=<%=item.postId%>&user=user">..DELETE..</a>
                </p>
                   
                        <% }%> 
                    <% if(item.status==true){%>
                        <p id=<%=count1%> style="color: green;  text-decoration: line-through;"><%=item.text%>
                        
                            <a href="/deleteassign?uid=<%=data._id%>&tid=<%=item.postId%>&user=user">..UNDO..</a>
                        </p>   
                        <% }%> 
                        
                        <% count1++ %> 
                <% }) %> 

                </div>

            </div>
        </div>
        <!-- <div class="right-box">
            <div class="assing-input">
                <form action="">
                    <input type="text" placeholder="Enter the mate name">
                    <input type="text" placeholder="Enter the task">
                    <button>Assign</button>
                </form>
            </div>
        </div> -->
    </div>
</body>

<%- include('part/footer')%>
