<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="css/user.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat&family=Orbitron&family=Playfair+Display+SC&family=Rajdhani&display=swap"
        rel="stylesheet">


    <title>TRACKING SYSTEM</title>
</head>

<body class="mentor">
    <nav class="navbar">
        <div class="brand-tatal">Tracking System</div>
        <a href="#" class="toggle-btn">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar-links">
            <ul>
                <li><a href="/myaccount">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
                <li><a>Hello, <%=data.username%></a></li>
            </ul>
        </div>

    </nav>
    <div class="main-box">
        <div class="todo-assign-box">
            <div class="middle-box">
                <h1>PERSONAL TODO</h1>
                <div class="input">
                    <form action="/assignself?user=user" method="post">
                        <input type="text" placeholder="Todo" name="todo" required>
                        <button type="submit">Submit</button>
                </div>
                <div class="mytodo">
                    <% var count=0; %>
                        <% mytodo.reverse().forEach(function(item){ %>


                            <div class="todo">
                                <p id=<%=count%>><%=item.text%>
                                </p>
                                <a href="/deletetodo?uid=<%=data._id%>&tid=<%=item.postId%>&user=user"><i
                                        class="bi bi-trash"></i></a>
                            </div>




                            <% count++ %>
                                <% }) %>


                </div>
            </div>
            <div class="right-box">
                <div class="assignedtod mytodo">
                    <h1>Assigned TODO</h1>
                    <% var count1=0; %>
                        <% assignedtodo.reverse().forEach(function(item){ %>
                            <div class="todo">

                                <% if(item.status==false){%>
                                    <p id=<%=count1%>><%=item.text%>
                                    </p>
                                    <a href="/deleteassign?uid=<%=data._id%>&tid=<%=item.postId%>&user=user"><i
                                            class="bi bi-trash"></i></a>
                            </div>


                            <% }%>
                                <% if(item.status==true){%>
                                    <p id=<%=count1%> style="color: green; text-decoration: line-through;">
                                        <%=item.text%>

                                            <a
                                                href="/deleteassign?uid=<%=data._id%>&tid=<%=item.postId%>&user=user">..UNDO..</a>
                                    </p>
                                    <% }%>

                                        <% count1++ %>
                                            <% }) %>

                </div>
            </div>

        </div>
    </div>
    <script>
        const togglebtn = document.getElementsByClassName("toggle-btn")[0];
        const nav = document.getElementsByClassName("navbar-links")[0];

        togglebtn.addEventListener("click", () => {
            nav.classList.toggle("active")
        })
    </script>
</body>

<%- include('part/footer')%>